.main_btn{
    color: #fff;
    padding: 15px 25px;
    border-radius: 100px;
    background-color: #655ec4;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 16px;
    position: relative;
    left: 75rem;
    top: 45rem;
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
    cursor: pointer;
  }
.main_btn:hover {
    scale: 1.05;
    color: #41f70f;
}
.main_btn:active {
    scale: 0.95;
}

.main_btn_2{
    background-color: #969292;
    border:  #383737;
    
    border-color: #383737;
    color: #383737;
    font-size: 2rem;
    font-weight: bolder;
    cursor: pointer;
    text-shadow: #383737;
    position: relative;
    top: 50rem;
    left: 67rem;
}
.main_btn_2:hover {
    scale: 1.05;
    color: #41f70f;
}
.main_btn_.main_btn_2 {
    scale: 0.95;
}