.topic{
    font-size: 40px;
   text-align: left;
   text-transform: capitalize;
   color: #474040;
   margin-bottom: 5rem;
   position: relative;
   top: 35rem;


   
}
.detail_1{
    font-size: 2rem;
    text-align: left;
    color: #474040;
    position: absolute;
    top: 40rem;
    
   }

img{
    position: relative;
    left: 90rem;
    border-radius: 9px;
    top: 25rem;
    
}
.topic_2{
    font-size: 40px;
    text-align: right;
    text-transform: capitalize;
    color: #474040;
    margin-bottom: 5rem;
    position: relative;
    top: 50rem;
    right: 6rem;
}
.detail_2{
    font-size: 2rem;
    text-align: left;
    text-transform: capitalize;
    color: #474040;
    position: absolute;
    top: 110rem;
    right: 2rem;
    
   }